<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Student Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>학생 전용 페이지</h1>
    <p>환영합니다, <span sec:authentication="name"></span>님!</p>

    <a th:href="@{/}" class="btn">메인 페이지로 이동</a>
</div>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
</body>
</html>